{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="flex items-center justify-center mt-[60px] flex-col">
    <h1 class=" text-[#A5BBDC] text-[27px]">Royhatdan otish</h1>
    <div>
        <form method="post">
            {% csrf_token%}

            <div class="flex mt-2">
                <i
                    class="w-[38px] h-[40px] bg-[#333D4D] fa-solid fa-envelope flex items-center justify-center text-[#6E879F] rounded-l-[5px]"></i>
                <input style="    box-shadow: -1px 11px 119px -3px rgba(83, 83, 188, 0.47);
            -webkit-box-shadow: -1px 11px 119px -3px rgba(83, 83, 188, 0.47);
            -moz-box-shadow: -1px 11px 119px -3px rgba(83, 83, 188, 0.47);"
                    class="hover-input w-[341px] p-2 text-[12px] outline-none h-[40px] bg-[#28313E] rounded-r-[5px]"
                    type="email" placeholder="Email manzil" required>
            </div>
            <div class="flex mt-2">
                
                <i
                    class="w-[38px] h-[40px] bg-[#333D4D] fa-solid fa-user flex items-center justify-center text-[#6E879F] rounded-l-[5px]"></i>
                <input class="w-[341px] p-2 text-[12px] outline-none h-[40px] bg-[#28313E] rounded-r-[5px]" type="login"
                    placeholder="Login" required>
            </div>
            <div class="flex mt-2">
                <i
                    class="w-[38px] h-[40px] bg-[#333D4D] fa-solid fa-key flex items-center justify-center text-[#6E879F] rounded-l-[5px]"></i>
                <input style="    box-shadow: -1px 11px 119px -3px rgba(83, 83, 188, 0.47);
            -webkit-box-shadow: -1px 11px 119px -3px rgba(83, 83, 188, 0.47);
            -moz-box-shadow: -1px 11px 119px -3px rgba(83, 83, 188, 0.47);"
                    class="hover-input w-[341px] p-2 text-[12px] outline-none h-[40px] bg-[#28313E] rounded-r-[5px]"
                    type="Username" placeholder="Parol" required>
            </div>

            <div class="flex mt-2">
                <i
                    class="w-[38px] h-[40px] bg-[#333D4D] fa-solid fa-hammer flex items-center justify-center text-[#6E879F] rounded-l-[5px]"></i>
                <input style="    box-shadow: -1px 11px 119px -3px rgba(83, 83, 188, 0.47);
            -webkit-box-shadow: -1px 11px 119px -3px rgba(83, 83, 188, 0.47);
            -moz-box-shadow: -1px 11px 119px -3px rgba(83, 83, 188, 0.47);"
                    class="hover-input w-[341px] p-2 text-[12px] outline-none h-[40px] bg-[#28313E] rounded-r-[5px]"
                    type="Username" placeholder="Parolni tasdiqlash" required>
            </div>

    </div>
    <div class="flex items-center gap-[220px] mt-4">
        <div>
            <input type="checkbox" name="" id="">
            <span class="text-[#6e879f] text-[12px]">Foydalanish shartlariga roziman</span>
        </div>
    </div>
    <button class="w-[380px] h-[35px] text-white mt-4  text-[17 px] bg-[#638B34] rounded-[5px]">Davom etish</button>
    </form>
    <div class="mt-2 flex gap-2">
        <span class="text-[#6e879f] text-[12px]">Allaqachon ochigan akauntingiz mavjudmi?</span>
        <a class="flex itemes-center justify-center text-[12px] text-[#a5bbdc]" href="{% url 'login' %}"> Kirish
        </a>
    </div>
    <div class="w-[380px] h-[45px] flex items-center justify-between">
        <div>
            <hr class="w-[155px] h-[1px] bg-[#6e879f] mb-[3px]">
            <hr class="w-[155px] h-[1px] bg-[#6e879f]">
        </div>
        <h3 class="text-[12px]" style="color: #6e897f;">YOKI</h3>
        <div>
            <hr class="w-[155px] h-[1px] bg-[#6e879f] mb-[3px]">
            <hr class="w-[155px] h-[1px] bg-[#6e879f]">
        </div>
    </div>
    <div class="w-[380px] h-[30px] flex items-center justify-between">
        <p
            class=" rounded-[5px] text-[12px] bg-[#4285f4] w-[180px] h-[34px] flex items-center justify-center text-white ">
            <i class="fa-brands fa-google mr-[10px]" style="font-size: 20px;"></i>GOOGLE</p>
        <p
            class=" rounded-[5px] w-[180px] h-[34px] text-[12px] bg-[#4285f4] flex items-center justify-center text-white">
            <i class="fa-brands fa-telegram mr-[10px]" style="font-size: 20px;"></i>TELEGRAM</p>
    </div>
</div>
{% endblock %}
