{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="w-[1170px] h-[1360px] flex m-auto mt-[40px] relative">
    <div class="w-[852px] h-[100%] bg-[#222933]">
        <h1 class="text-[#a5bbdc] mt-[35px] ml-[18px] text-[22px]">QOIDA/ПРАВИЛА</h1>
        <div class="w-[3px] h-[40px] bg-[purple] mt-[-35px]"></div>
        <div class="w-[799px] h-[110px] m-auto mt-[20px]">
            <p class="text-[14px] text-[#6E879F]"><span class="font-bold">UZ:</span> Биз сизга катъий ушбу коидаларни укиб чикишни тавсия этамиз, зеро бу сиздан атига беш дакика вактингзини олиб натижада сизнинг ва бизнинг вактимизни тежашга ва шу вактни биз сайтда янгилик яратиш ва сайтни янада кизикарли килишга сарфлаган булардик эдик.Аввало хаммасини барча фойдаланувчиларга ва сайт маъмуриятига хушмуомалаликдан бошлаймиз.Фойдаланувчига куполлик килиш ва уни хакорат килиш ман этилади, Сайтимизда бир бирига дустона муносабатда ва хушмуомала булишни, сузлашув маданиятни тушунганингиз учун олдиндан рахмат.</p>
        </div>
        <div class="w-[799px] h-[300px] m-auto mt-[20px]">
            <h3 class="text-[#b8312f] text-[14px] ">Сайтда такикланади:</h3>
            <ul>
                <li class="text-[#565a5f] text-[14px]">1. Мухокама килинаётган масалага доир булмаган хабар ва изохларни колдириш.</li>
                <li class="text-[#565a5f] text-[14px]">2. Хеч кандай матнсиз смайликлар колдириш</li>
                <li class="text-[#565a5f] text-[14px]">3. Мазмунсиз хабарлар ва изохлар (+1, мда, ппц,хаа, зур ва бошкалар).</li>
                <li class="text-[#565a5f] text-[14px]">4. Бошка тилларда хабар ва изох колдириш.</li>
                <li class="text-[#565a5f] text-[14px]">5. Caps Lock тугмаси босик холда ёзилган хабар ва изохлар.</li>
                <li class="text-[#565a5f] text-[14px]">6. Сайт фойдаланувчиларини хакорат килиш ва уларни тахдид килиш, камситиш.</li>
                <li class="text-[#565a5f] text-[14px]">7. Конунларга зид келадиган изохлар, янгилик кушиш.</li>
                <li class="text-[#565a5f] text-[14px]">8. Изохларда сукиниш, инсонийлик тамойиларни топташ, миллий адоват келтириб чикариш.</li>
                <li class="text-[#565a5f] text-[14px]">9. Аватарлар (фойдаланувчи расми) хакоратли ёки одоб - ахлок коидаларини бузуши.</li>
                <li class="text-[#565a5f] text-[14px]">10. Шахсий профилга бошка сайтларни реклама килиш, ёки сукиниб ёзиш.</li>
                <li class="text-[#565a5f] text-[14px]">11. Диний марузалар ва хабарлар жунатиш.</li>
                <li class="text-[#565a5f] text-[14px]">12. Администраторлар ва Модераторларнинг (журналистларнинг) харакатини оммавий мухокамага ташлаш ва уни мухокама килиш.</li>
            </ul>
            <p class="text-[14px] text-[#6E879F] mt-[10px] font-bold">- Ушбу бандни бузган фойдаланувчи аккаунти сайтдан учирилади.</p>
            <p class="text-[14px] text-[#6E879F] mt-[10px]">(Маъмурият узида изохларни куриб чикиш ва уларнинг холати ва талабга жавоб бериш ёки бермаслигини текшириш ва уларни учириш ёки кисман учиришни уз ваколатида олиб колади.)</p>
            <div class="w-[100%] h-[40px] flex itemes-center justify-center">
                <h4 class="text-[14px] text-[#6E879F] font-bold">Администратор томонидан чикарилган карор – якуний ва мухокама килинмайди.</h4>
            </div>
            <div class="text-center m-auto w-[700px] h-[50px] flex itemes-center justify-center">
                <p class="text-[14px] text-[#6E879F] font-bold">Диққат! Агар сиз 30кундан ортиқ профилингизга кирмасангиз. Профилингиз сайтимиздан автоматик ўчирилади!</p>
            </div>
            <hr class="w-[750px] h-[2px] bg-[gray] m-auto">
            <div class="w-[799px] h-[110px] m-auto mt-[20px]">
                <p class="text-[14px] text-[#6E879F]"><span class="font-bold">RU:</span>Мы рекомендуем вам прочитать эти правила, они займут у вас всего лишь какие-то пять минут и этим вы сэкономите ваше и наше время так как за эти минуты мы одновременно сможем учесть ваши рекомендации и создать на нашем сайте новости. Прежде всего начнём с уважения к нашим участникам и администрации сайта. Запрещается грубить и грубо относится к участникам. заранее благодарим всех за понимание дружеского отношения и соблюдения правил речевого этикета.</p>
            </div>
            <div class="w-[799px] h-[300px] m-auto mt-[20px]">
                <h3 class="text-[#b8312f] text-[14px] ">На сайте запрещается:</h3>
                <ul>
                    <li class="text-[#565a5f] text-[14px]">1. Оставлять комментарии к несоответствующим темам.</li>
                    <li class="text-[#565a5f] text-[14px]">2. Оставлять смайлики без текстов.</li>
                    <li class="text-[#565a5f] text-[14px]">3. Оставлять непонятные комментарии.</li>
                    <li class="text-[#565a5f] text-[14px]">4. Писать на непонятном языке</li>
                    <li class="text-[#565a5f] text-[14px]">5. Писать и оставлять комментарии на CAPS LOCK</li>
                    <li class="text-[#565a5f] text-[14px]">6. Оскорблять унижать участников сайта.</li>
                    <li class="text-[#565a5f] text-[14px]">7. Пользоваться нецензурными словами в комментариях, унижать людей, писать политические обсуждения</li>
                    <li class="text-[#565a5f] text-[14px]">8. Добавлять противозаконные комментарии и новости.</li>
                    <li class="text-[#565a5f] text-[14px]">9. Отправлять спам, рекламировать товары, предлагать другие ресурсы.</li>
                    <li class="text-[#565a5f] text-[14px]">10. Добавлять не соответствующие фото правилам приличия.</li>
                    <li class="text-[#565a5f] text-[14px]">11. Рекламировать или писать матом в личном профиле.</li>
                    <li class="text-[#565a5f] text-[14px]">12. Отправлять религиозные письма.</li>
                    <li class="text-[#565a5f] text-[14px]">13. Обсуждать действия администраторов и модераторов.</li>
                </ul>
                <p class="text-[14px] text-[#6E879F] mt-[10px] font-bold">Аккаунт пользователя удалится в случае не соблюдения одной из правил.</p>
                <p class="text-[14px] text-[#6E879F] mt-[10px]">(Администрация и модераторы оставляют за собой право редактировать оставленные комментарии либо удалить их с сайта)</p>
                <div class="w-[100%] h-[40px] flex itemes-center justify-center">
                    <h4 class="text-[14px] text-[#6E879F] font-bold">Решение администрации не обсуждается.</h4>
                </div>
                <div class=" m-auto w-[700px] h-[50px] flex itemes-center justify-center">
                    <p class="text-[14px] text-[#6E879F] font-bold">Внимание! Если Вы не были активны в течение 30 дней, то Ваш профиль удаляется автоматически на наш сервер!</p>
                </div>
        </div>
    </div>
    <div class="w-[277px] h-[579px] ml-[40px] absolute top-[0] right-[0px]">
        <div class="w-full h-[60px] flex itemes-center justify-center">
            <div class="flex itemes-center justify-center w-[68px] h-[60px] bg-[#2aabeeb3]">
                <i class="fa-brands fa-telegram text-[#fff] text-[22px] mt-[20px]"></i>
            </div>
            <div class="flex itemes-center justify-center w-[68px] h-[60px] bg-[#f12567b3]">
                <i class="fa-brands fa-youtube text-[#fff] text-[22px] mt-[20px]"></i>
            </div>
            <div class="flex itemes-center justify-center w-[68px] h-[60px] bg-[#000]">
                <i class="fa-brands fa-tiktok text-[#fff] text-[22px] mt-[20px]"></i>
            </div>
            <div class="flex itemes-center justify-center w-[68px] h-[60px] bg-[#c13584b3]">
                <i class="fa-brands fa-instagram text-[#fff] text-[22px] mt-[20px]"></i>
            </div>
        </div>
        <div class="w-[277px] h-[469px] bg-[#24303d] mt-[20px] pt-[20px]">
            <h3 class="text-[17px] text-[#a5bbdc] ml-[20px] font-bold">TASODIFIY FILMLAR</h3>
            <div class="w-[3px] h-[30px] bg-[blue] mt-[-25px]"></div>
            <div class="w-[218px] h-[351px] m-auto bg-[#161d25] mt-[20px] text-center">
                <img class="w-[218px] h-[285px] bg-no-repeat bg-cover bg-center object-cover"
                    src="/static/img/last-img.jpg" alt="">
                <h2 class="text-[13px] text-[#a5bbdc] mt-[20px]">Snayper: So'nggi jang (premyera)</h2>
            </div>
        </div>
</div>
{% endblock %}