<div class="w-full bg-[#131A20] h-[100px]">
    <div class="container_large flex itemes-center justify-between pt-4">
        <div class="flex items-center gap-2 ">
            <div style="border: 0.2px solid rgba(142, 139, 139, 0.23);" class="w-[66px] h-[40px] rounded-lg py-2 bg-[#222933] text-[#99b1d4] text-[12px] flex items-center justify-center gap-[4px]">
                <i class="fa-solid fa-user"></i>
                <a href="#">Kirish</a>
            </div>
            <div style="border: 0.2px solid rgba(142, 139, 139, 0.23);" class="w-[115px] h-[40px] rounded-lg py-2 bg-[#222933] text-[#99b1d4] text-[12px] flex itemes-center justify-center gap-[4px]">
                <a href="#">Ro'yhatdan o'tish</a>
            </div>
        </div>
        <div class="flex items-center gap-2">
            <div style="border: 0.2px solid rgba(142, 139, 139, 0.23);" class="w-[40px] h-[39px] rounded-lg flex items-center justify-center text-[#99b1d4]">
                <i class="fa-solid fa-film"></i>
            </div>
            <div style="border: 0.2px solid rgba(142, 139, 139, 0.23);" class="w-[40px] h-[39px] rounded-lg flex items-center justify-center text-[#99b1d4]">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div style="border: 0.2px solid rgba(142, 139, 139, 0.23);" class="w-[40px] h-[39px] rounded-lg flex items-center justify-center text-[#99b1d4]">
                <i class="fa-solid fa-hand"></i>
            </div>
        </div>
    </div>
</div>