<div class="w-full h-[100px] bg-[#222933]">
    <div class="container_large flex items-center justify-between">
        <img src="/static/img/logo.gif" alt="" width="290px" height="80px">
        <ul class="flex items-center justify-center gap-4 text-[#A5BBDC] uppercase text-[14px]">
            <a style="transition: 0.5s all ease-in-out;"
                class="hover:bg-[#7F4726] w-[100px] h-[100px] hover:text-white flex items-center justify-center"
                href="#">Bosh Sahifa</a>
            <a href="#">Kinolar</a>
            <a href="#">Seriallar</a>
            <a href="#">Janr</a>
            <a href="#">Yili</a>
            <a href="#">Mamlakat</a>
            <a href="#">Kino Yangiliklari</a>
        </ul>
    </div>
</div>