{% load static %}
<div class=" w-full h-[160px] bg-[#222933]">
    <div class="container_large w-full ">
        <div class="w-full flex   justify-between">
            <a href="{% url 'home' %}">
                <img src="/static/img/logo.gif" alt="">
            </a>
            <div class="text-[#6e879f] flex mt-[25px]">
                <a class="w-[117px] border-b-[1px] border-[orange] " href="#">BOSH SAHIFA</a>
                <a class="w-[99px]  border-b-[1px] border-[green] flex" href="#">KINOLAR<img
                        class="w-[12px] mt-[5px] ml-[7px] h-[12px]" src="{% static 'img/down.png' %}" alt=""></a>
                <a class="w-[101px]  border-b-[1px] border-[blue]" href="#">SERILLAR</a>
                <a class="w-[74px]  border-b-[1px] border-[red] flex" href="#">JANR<img
                        class="w-[12px] mt-[5px] ml-[7px] h-[12px]" src="{% static 'img/down.png' %}" alt=""></a>
                <a class="w-[59px]  border-b-[1px] border-[yellow] flex" href="#">YIL<img
                        class="w-[12px] mt-[5px] ml-[7px] h-[12px]" src="{% static 'img/down.png' %}" alt=""></a>
                <a class="w-[113px]  border-b-[1px] border-[purple] flex" href="#">MAMLAKAT<img
                        class="w-[12px] mt-[5px] ml-[7px] h-[12px]" src="{% static 'img/down.png' %}" alt=""></a>
                <a class="w-[156px]  border-b-[1px] border-[orange]" href="#">KINO YANGILIKLARI</a>
            </div>
        </div>
    </div>
    
    <div class="bg-[#161d25] w-[100%] h-[3474px] ">
        <div class="w-[1170px] h-[80px] flex gap-[12px] mx-auto py-[12px]">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/birinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/ikkinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/uchinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/tortinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/beshinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/oltinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/yettinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/sakkizinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/toqqizinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/oninchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/onbirinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/onikkinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/onuchinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/ontortinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/onbeshinchirasm.jpg' %}" alt="">
            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/onoltinchirasm.jpg' %}" alt="">

            <img class="w-[56px] h-[56px] rounded-full border-[2px] border-gray-500"
                src="{% static 'img/onyettinchirasm.jpg' %}" alt="">
        </div>
    </div>

    


</div>
<div class="w-full bg-[#131A20] h-[140px]">
    <div class="container_large flex itemes-center justify-between pt-4">
        <div class="flex items-center gap-2 ">
            <div style="border: 0.2px solid rgba(142, 139, 139, 0.23);" class="w-[66px] h-[40px] rounded-lg py-2 bg-[#222933] text-[#99b1d4] text-[12px] flex items-center justify-center gap-[4px]">
                <i class="fa-solid fa-user"></i>
                <a href="#">Kirish</a>
            </div>
            <div style="border: 0.2px solid rgba(142, 139, 139, 0.23);" class="w-[115px] h-[40px] rounded-lg py-2 bg-[#222933] text-[#99b1d4] text-[12px] flex itemes-center justify-center gap-[4px]">
                <a href="#">Ro'yhatdan o'tish</a>
            </div>
        </div>
        <div class="flex items-center gap-2">
            <div style="border: 0.2px solid rgba(142, 139, 139, 0.23);" class="w-[40px] h-[39px] rounded-lg flex items-center justify-center text-[#99b1d4]">
                <i class="fa-solid fa-film"></i>
            </div>
            <div style="border: 0.2px solid rgba(142, 139, 139, 0.23);" class="w-[40px] h-[39px] rounded-lg flex items-center justify-center text-[#99b1d4]">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div style="border: 0.2px solid rgba(142, 139, 139, 0.23);" class="w-[40px] h-[39px] rounded-lg flex items-center justify-center text-[#99b1d4]">
                <i class="fa-solid fa-hand"></i>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center mt-[25px]">
        <div class="relative" style="width: 1170px; height: 40px;">
            <input  type="text" placeholder="Qidirish..." 
                   class="outline-none w-full h-full pl-4 pr-10 text-white bg-gray-800 hover:bg-[#304156] border border-gray-600 rounded-[5px]">
            <button class="absolute inset-y-0 right-3 flex items-center text-gray-400">
                <i class="fa-solid fa-search"></i>
            </button>
        </div>
    </div>
</div>
</div>
