{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="w-[1170px] m-auto flex">
    {% for kino in kino %}
    <div class="container_large mt-4 w-[872px]">
        <div class="flex items-center justify-between w-[872px]">
            <div class="flex items-center gap-4">
    
                <div class="w-[9px] h-[50px] bg-[#0693BD]">
                </div>
                <strong class="text-[22px] text-[#A5BBDC]">
                    {{ kino.title }}
                </strong>
            </div>
            <div class="w-[44px] h-[44px] bg-[#0693BD] flex items-center justify-center">
                <i class="text-[#8EB5D8] text-[20px] fa-regular fa-bookmark"></i>
            </div>
        </div>
        <div class="w-[872px] h-[417px] p-[20px] mt-[20px] mb-[20px] bg-[#24303d] flex">
            <img src="{{ kino.poster.url }}" alt="" class="w-[248px] h-[368px] ml-[20px] object-cover">
            <div>
                <div class="w-[4px] h-[347px] bg-[#222933] ml-[30px] relative">
                    <div class=" absolute w-[12px] h-[12px] bg-[#304156] mt-[10px] right-[-5px]"></div>
                    <div class=" absolute w-[12px] h-[12px] bg-[#304156] mt-[60px] right-[-5px]"></div>
                    <div class=" absolute w-[12px] h-[12px] bg-[#304156] mt-[110px] right-[-5px]"></div>
                    <div class=" absolute w-[12px] h-[12px] bg-[#304156] mt-[155px] right-[-5px]"></div>
                    <div class=" absolute w-[12px] h-[12px] bg-[#304156] mt-[200px] right-[-5px]"></div>
                    <div class=" absolute w-[12px] h-[12px] bg-[#304156] mt-[250px] right-[-5px]"></div>
                    <div class=" absolute w-[12px] h-[12px] bg-[#304156] mt-[300px] right-[-5px]"></div>
                </div>
            </div>
            <div class="w-[481px] h-[47px] ml-[20px]">
                <div class="flex">
                    <div class="w-[100px] h-[37px] bg-[#304156] text-[#a5bbdc] p-[10px] flex justify-center">
                        <p class="text-[10px]">NOMI</p>
                    </div>
                    <div class="w-[381px] h-[37px] bg-[#222933] p-[10px]">
                        <p class="text-[12px] text-[#798fa6] font-semibold">{{ kino.title }}</p>
                    </div>
                </div>
                <div class="flex mt-[10px]">
                    <div class="w-[100px] h-[37px] bg-[#304156] text-[#a5bbdc] p-[10px] flex justify-center">
                        <p class="text-[10px]">JANR</p>
                    </div>
                    <div class="w-[381px] h-[37px] bg-[#222933] p-[10px]">
                        <p class="text-[12px] text-[#a5bbdc] font-semibold">Tarjima / Jangari / Sarguzasht / Drama / Triller
                            / Detektiv</p>
                    </div>
                </div>
                <div class="flex mt-[10px]">
                    <div class="w-[100px] h-[37px] bg-[#304156] text-[#a5bbdc] p-[10px] flex justify-center">
                        <p class="text-[10px]">DAVLATI</p>
                    </div>
                    <div class="w-[381px] h-[37px] bg-[#222933] p-[10px]">
                        <p class="text-[12px] text-[#a5bbdc] font-semibold">{{ kino.categorydavlati }}</p>
                    </div>
                </div>
                <div class="flex mt-[10px]">
                    <div class="w-[100px] h-[37px] bg-[#304156] text-[#a5bbdc] p-[10px] flex justify-center">
                        <p class="text-[10px]">YILI</p>
                    </div>
                    <div class="w-[381px] h-[37px] bg-[#222933] p-[10px]">
                        <p class="text-[12px] text-[#a5bbdc] font-semibold">{{ kino.categoryyili }}</p>
                    </div>
                </div>
                <div class="flex mt-[10px]">
                    <div class="w-[100px] h-[37px] bg-[#304156] text-[#a5bbdc] p-[10px] flex justify-center">
                        <p class="text-[10px]">TILI</p>
                    </div>
                    <div class="w-[381px] h-[37px] bg-[#222933] p-[10px]">
                        <p class="text-[12px] text-[#a5bbdc] font-semibold">{{ kino.categorytili }}</p>
                    </div>

                </div>
                <div class="flex mt-[10px]">
                    <div class="w-[100px] h-[37px] bg-[#304156] text-[#a5bbdc] p-[10px] flex justify-center">
                        <p class="text-[10px]">DAVOMIYLIGI</p>
                    </div>
                    <div class="w-[381px] h-[37px] bg-[#222933] p-[10px]">
                        <p class="text-[12px] text-[#a5bbdc] font-semibold">{{ kino.davomiyligi }}</p>
                    </div>
                </div>
                <div class="flex mt-[10px]">
                    <div class="w-[100px] h-[53px] bg-[#304156] text-[#a5bbdc] p-[10px] flex justify-center">
                        <p class="text-[10px]">YOSH <br> CHEGARASI</p>
                    </div>
                    <div class="w-[381px] h-[53px] bg-[#222933] p-[10px]">
                        <p
                            class="text-[12px] w-[31px] h-[29px] flex items-center justify-center rounded-full text-[#fff] bg-[blue] font-semibold">
                            18+</p>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="w-[872px] h-[145px] bg-[#24303d] flex">
            <div class="mt-[10px]">
                <p class="text-[#fbc02d] text-[50px] mt-[20px] ml-[10px]">''</p>
            </div>
            <div class="text w-[650px] h-[145px]">
                <p class="text-[14px] text-[#a5bbdc] mt-[20px]">{{  kino.description }}</p>
            </div>
        </div>
        <div class="w-[872px] h-[410px] mt-[20px]">
            <div class="w-[872px] h-[45px] flex">
                <div class="w-[131px] h-[45px] bg-[#304156] flex items-center justify-center">
                    <p class="text-[11px] text-[#a5bbdc]">ONLAYN KORISH</p>
                </div>
                <div class="w-[90px] h-[45px] bg-[#1d232c] flex items-center justify-center ml-[10px]">
                    <p class="text-[11px] text-[#a5bbdc]">TREYLER</p>
                </div>
                <div class="w-[210px] h-[45px] bg-[#1d232c] flex items-center justify-center ml-[10px]">
                    <p class="text-[11px] text-[#a5bbdc]"><i class=" text-[14px] fa-brands fa-telegram"></i> TELEGRAMDAN YUKLASH</p>
                </div>
            </div>
            <div class="w-[872px] h-[365px] relative">
                <img class=" absolute w-full h-full object-cover" src="{{ kino.poster.url }}" alt="">
                <a href="#">
                    <i style="/* From https://css.glass */
                background: rgba(19, 19, 19, 0.35);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(2.3px);
                -webkit-backdrop-filter: blur(2.3px);
                border: 1px solid rgba(19, 19, 19, 0.3);" class="flex items-center justify-center w-[90px] h-[48px] fa-solid fa-play text-[20px] text-[#fff] absolute left-[45%] top-[45%]"></i>
                </a>
            </div>
            <div class="w-[872px] h-[33px]  flex items-center justify-between">
                <div class="w-[150px] h-[33px] bg-[#232f3d] flex items-center justify-center ml-[10px] mt-[20px]">
                    <i class="fa-solid fa-circle-info mr-[10px] text-[#99b1d4]"></i>
                    <p class="text-[12px] text-[#99b1d4]">IZOH QOLDIRISH</p>
                </div>
                <div class="w-[147px] h-[26px]">
                    <i class=" text-[24px] fa-brands fa-vk"></i>

                    <i class=" text-[24px] fa-brands fa-twitter"></i>
                    <i class=" text-[24px] fa-brands fa-odnoklassniki"></i>
                    <i class="text-[24px]">@</i>
                    <i class=" text-[24px] fa-brands fa-google-plus-g"></i>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="mt-[20px]">
        <div class="w-full h-[60px] flex itemes-center justify-center">
            <div class="flex itemes-center justify-center w-[68px] h-[60px] bg-[#2aabeeb3]">
                <i class="fa-brands fa-telegram text-[#fff] text-[22px] mt-[20px]"></i>
            </div>
            <div class="flex itemes-center justify-center w-[68px] h-[60px] bg-[#f12567b3]">
                <i class="fa-brands fa-youtube text-[#fff] text-[22px] mt-[20px]"></i>
            </div>
            <div class="flex itemes-center justify-center w-[68px] h-[60px] bg-[#000]">
                <i class="fa-brands fa-tiktok text-[#fff] text-[22px] mt-[20px]"></i>
            </div>
            <div class="flex itemes-center justify-center w-[68px] h-[60px] bg-[#c13584b3]">
                <i class="fa-brands fa-instagram text-[#fff] text-[22px] mt-[20px]"></i>
            </div>
        </div>
        <div class="w-[277px] h-[469px] bg-[#24303d] mt-[20px] pt-[20px] ml-[10px]">
            <h3 class="text-[17px] text-[#a5bbdc] ml-[20px] font-bold">TASODIFIY FILMLAR</h3>
            <div class="w-[3px] h-[30px] bg-[blue] mt-[-25px]"></div>
            <div class="w-[218px] h-[351px] m-auto bg-[#161d25] mt-[20px] text-center">
                <img class="w-[218px] h-[285px] bg-no-repeat bg-cover bg-center object-cover"
                    src="/static/img/last-img.jpg" alt="">
                <h2 class="text-[13px] text-[#a5bbdc] mt-[20px]">Snayper: So'nggi jang (premyera)</h2>
            </div>
        </div>
    </div>
</div>


{% endblock %}