{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container_large mt-4">
    {% for kino in kino %}
    <div class="flex items-center justify-between">
        <div class="flex items-center gap-4">

            <div class="w-[9px] h-[50px] bg-[#0693BD]">
            </div>
            <strong class="text-[22px] text-[#A5BBDC]">
                {{ kino.title }}
            </strong>
        </div>
        <div class="w-[44px] h-[44px] bg-[#0693BD] flex items-center justify-center">
            <i class="text-[#8EB5D8] text-[20px] fa-regular fa-bookmark"></i>
        </div>
    </div>
    <h1>{{ kino.davlati }}</h1>
    {% endfor %}
</div>

{% endblock %}